button {
    background-color: lightgreen;
    font-size: 36px;
    margin: 10px;
    padding: 10px;
}

pre {
    display: flex;
    background-color: #2d2d2d; /* 黑色背景 */
    padding: 15px;
    color: #ccc; /* 浅灰色文字 */
    border-radius: 5px;
    overflow-x: auto; /* 超出时水平滚动 */
    font-family: Consolas, "Courier New", monospace;
}

code {
    font-family: inherit; /* 使用和 pre 相同的字体 */
    color: white;
}
